<template name="Home">
  <div align="center">
    <h3>Welcome to</h3>
    <h1><i class="fa fa-bug"></i> IssueTracker</h1><br/>
    <h4>Sample application built with <a href="http://www.meteor.com" target="_blank">Meteor</a>, <a href="https://github.com/iron-meteor/iron-cli" target="_blank">Iron Scaffolding</a> and <a href="https://github.com/aldeed/meteor-autoform" target="_blank">AutoForms</a></h4>
  </div>
  <br/><hr>
  <div class="col-sm-4">
    <div align="center">
        <h3><i class="fa fa-medium"></i> On Medium</h3>
        <p>Find the tutorial for building this application on Medium. The tutorial includes a step-by-step description you can follow to develope this application from scratch.</p>
        <p><a href="https://medium.com/@s_eschweiler/how-to-build-web-apps-ultra-fast-with-meteor-iron-scaffolding-and-automatic-form-generation-11734eda8e67" target="_blank">Tutorial on Medium.com</a></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div align="center">
        <h3><i class="fa fa-github"></i> On GitHub</h3>
        <p>The IssueTracker application is a sample application built with Meteor, Iron Scaffolding Tool and AutoForms package.</p>
        <p><a href="https://github.com/seeschweiler/medium-issuetracker" target="_blank">Find the source code on GitHub</a></p>
    </div>
  </div>
  <div class="col-sm-4">
    <div align="center">
        <h3><i class="fa fa-laptop"></i> Built with Meteor</h3>
        <p>
          Meteor is a complete open source platform for building web and mobile apps in pure JavaScript.
        </p>
        <p>Find more information about Meteor:</p>
        <p>
          <a href="https://www.meteor.com/">https://www.meteor.com/</a>
        </p>
    </div>
  </div>
  <div class="col-sm-12">
    <div align="center">
      <br/><br/><br/>
      <hr>
      <a class="btn btn-primary" href="http://medium-issuetracker.meteor.com">Online Demo</a>
    </div>
  </div>
</template>
